{% extends 'Todo/base.html' %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Title</td>
            <td style="text-align: right; float: right;">
                <a href="{% url 'todo_insert' %}" class="btn btn-outline-success" style="float: right;">
                    <i class="fas fa-plus"></i> New Task
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for todo in todo_list %}
            <tr>
                <td>{{ todo.title }}</td>
                <td>
                    <td>
                        <a href="{% url 'todo_view' todo.id %}" class="btn text-secondary px-0">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'todo_update' todo.id %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                    </td>
                    <td>
                        <form action="{% url 'todo_delete' todo.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg-text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %} 